.container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.section {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: #16649d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #40868f;
}

.input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.hidden {
    display: none;
}
